*,html
    {
        margin: 0;
        padding: 0;
       
    }

body
    {
        font-family: 'Didact Gothic','serif' ;
        margin: 0;
        padding: 0;
    
    }

a
    {
        color: aquamarine;
        text-decoration: none;
    }

a:active,a:focus,a:hover
    {
        color:grey;
        text-decoration: none;
    }


.add-btn
    {
        cursor: pointer;
        background-color: none;
        font-size: 2em;
        padding:0 10px 0 10px;
        margin-left: 10%;
        border: 2px solid rgb(2, 113, 135);
        transition:all 0.4s ease-out;
        color:rgb(2, 113, 135);
        font-weight:bold;
    }

.add-btn a
    {
        font-family: 'Didact Gothic','serif' ;
    }

.add-btn:hover,.add-btn:focus
    {
        background-color: rgb(2, 113, 135);
        color:white;
        outline: none;
    }
    
.links
    {
        font-size:0.6em;
        float:left;
        color:white;
        height:100%;
        padding:15px 3vw 0 5vw;
        display:none;
    }
    
.active
    {
        color:rgb(70, 42, 207);
    }

.topnav
    {
        width:100%;
        position: fixed;
        top:0;
        z-index: 2;
    }

.top-title
    {
        float: right;
        font-size: 3em;
        font-family: 'Playfair Display', 'serif';
        font-weight: bold;
        width:30vw;
        padding:10px 20px 0 10px;
        text-align:right;
    }


/* ----------------------------------------------------------------------
left sidebar */

.sidebar
    {
        width:20%;
        height:100%;
        z-index: 3;
        position: fixed;
        top:0;
        left: 0;
        color: aliceblue;
        background-image:linear-gradient(to bottom right,rgb(20, 0, 26),rgb(76, 2, 108));
        
        
    }

.sidebar ul    {
    width:100%;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin-left:0;
    margin-right: 0;
    font-size: 1.8em;
    color: white;
    margin-top: 25vh;
}

.sidebar li    {
    line-height: 8vh;
    cursor: pointer;
}

.sidebar li:active    {
    color:grey;
}


.admin
    {
        font-size: 2.5em;
        text-align: center;
        font-family:'Righteous','serif';
        line-height: 8vh;
    }

@media screen and (max-width:600px)
    {
        .admin  {
            font-size: 1.5em;
        }

        .sidebar ul    {
           font-size: 1em;
        }
        
        .sidebar    {
            display:none;
        }
        
        .topnav {
            background-image:linear-gradient(to bottom right,rgb(20, 0, 26),rgb(76, 2, 108));
        }
        
        .top-title    {
            font-size:1.5em;
            padding:0px 10px 0 0;
            color:white;
            font-weight:none;
        }
        
        .add-btn    {
            font-size:1em;
            border-radius:3px;
        }
        
        .links  {
            display:block;
        }
    }

.full
    {
        padding-left: 20%;
        padding-top: 10%;
        width: 99vw;
    }


/* ----------------------------------------------------------------------------
    blogs list with add btn*/
    
.blogs
    {
        padding-left: 10%;
        margin-top: 5vh !important;
    }

.isti
    {
        color:rgb(40, 5, 110);
        font-size: 3em;
        font-weight: bold;
        overflow-y: hidden;
        font-weight:bold;
        font-family:'Righteous','serif';
    }

.blogs ul
    {
        margin-top: 5vh;
       
    }

.blogs li
    {
        
        line-height: 8vh;
        color:rgb(56, 0, 80);
        margin-top:15px;
    
        background-image:linear-gradient(to right,rgb(160, 246, 223),white);
        margin-right:10vh;
    }

.blogs li:hover
    {
        color:rgb(1, 39, 48);
    }

.title-blog
    {
        font-size: 2.5em;
        color:purple;
    }

.blogs small
    {
        font-size: 1.5em;
        
    }

.blogs span
    {
        margin-left: 10px;
        color: rgb(2, 79, 110);
    }

.hr
    {
        height: 3px;
        width:80%;
        margin-left: 10%;
        margin-top: 5vh;
        background-image: linear-gradient(to right,black,rgb(233, 228, 228));
    }

@media screen and (max-width:700px)
    {
        .full   {
            padding-left:0;
            padding-top:20%;
        }
        
        .isti   {
            font-size:2em;
        }
        
        .title-blog {
            font-size:1.5em;
        }
        .blogs small   {
            font-size:1.2em;
        }
        
        .blogs li   {
            line-height:6vh;
            background-color:rgb(250, 241, 199);
        }
    }
    
    

/* ------------------------------------------------------------------------------------
    Blogs page css  */

.full2
    {
        padding-top:7%;
        margin-left: 5% !important;
    }

.title
    {
        font-weight: bold;
        font-size: 3.5em;
        width:70%;
        overflow:hidden;
    }

.date
    {
        font-size: 2em;
        color: rgb(28, 1, 53);
    }

.name
    {
        font-size: 2.5em;

    }

.fir
    {
       
        width:70%;
        
    }

.blog_img
    {
        overflow: hidden;
        height: 60vh;
        padding-left: 0;
    }

#pho
    {
        width:100%;
        height: 100%;
    }

.circle
    {
        width: 60vw;
        height:60vw;
        background-color: rgb(21, 116, 154);
        border-radius: 50%;
        position: absolute;
        top:-30vw;
        right:-35vw;
        z-index: -1;
    }

.con
    {
        padding-top:5vh;
        font-size: 1.8em;
        width:100%;
    }

.contact-section
    {
        display: none;
      
    }

    #new
    {
        font-size: 4em;
        color: brown;
        
        margin-top: 10vh;
        margin-bottom: 5vh;
    }

.add_new input
    {
        border:none;
        border-bottom: 2px solid black;
        outline: none;
        background-color: transparent;
    }

.add_new input:hover,.add_new input:active,.add_new input:focus
    {
       
    }

.add_new textarea
    {
        
        border: 1px solid black;
        outline: none;
        
    }

td,th
    {
        text-align: center;
    }

td
    {
        border-bottom: 2px solid;
    }

th
{
    line-height: 8vh;
    font-size: large;
    border-bottom: 3px solid;
}

.first
    {
        width:15%;

    }

.sec
    {
        width:25%;
        
    }

.thi
    {
        width:15%;
        
    }

.fou
    {
        width:40%;
        padding:20px;
    }

.fif
    {
        width:5%;
    }

.mess_ex
    {
        padding-top: 5vh;
    }

#mess
    {
        text-align: center;
        font-size: 3.5em;
        line-height: 15vh;
        font-weight: bold;
        color: rgb(4, 82, 101);
    }

.mess_send
    {
        display: block;
        margin: 0 auto;
        border-radius: 0%;
        background-color: rgb(25, 104, 3);
        color: white;
        font-size: 1.5em;
    }

.mess_send:hover
    {
        background-color: rgb(40, 144, 12);
    }

.mess_ex input
    {
        border: none;
        border-bottom: 2px solid black;
        border-radius: 0%;
        background-color: transparent;
    }

.mess_ex textarea
    {
        background-color: transparent;
        border: 1px solid black;
        border-radius: 0%;
    }


.circle2
    {
        width: 60vw;
        height:60vw;
        background-color: rgb(154, 114, 21);
        border-radius: 50%;
        position: fixed;
        bottom:-30vw;
        left:-35vw;
        z-index: -1;
    }


.circle3
    {
        width: 60vw;
        height:60vw;
        background-color: rgb(154, 114, 21);
        border-radius: 50%;
        position: fixed;
        top:-10vw;
        right:-45vw;
        z-index: -1;
    }
