*,html {padding:0; margin-bottom:0 !important;scroll-behavior: smooth;}

body
    {
        margin: 0 !important;
        padding: 0 !important;
        scroll-behavior: smooth;
    }

#top-section
    {
        width:100%;
        height:85vh;
        margin: 0;
        overflow: hidden;
        padding-bottom:0 ;
        
    }

.landing-img
    {
        width:100%;
        height:0vh;
        background-repeat: no-repeat;
        background-size: cover;
        transition-property: height;
        transition: all 0.65s;
        background-attachment: fixed;
    }

#img1
    {
        background-image: url(images/london1.jpg);
        height:85vh;
    }

#img2
    {
        background-image: url(images/ballons.jpg);
    }

#img3
    {
        background-image: url(images/forest.jpg);
    }

.landing-text
    {
        position: absolute;
        top:20vh;
        transition: all 2s;
        overflow:hidden;
        padding:50px;
        font-family: 'Abril Fatface', 'serif';
    }

.title
    {
        font-size: 2em;
        background-color: transparent;
        position: absolute;
        right: 0;
        font-family: 'Playfair Display', 'serif';
        padding:5px 20px 20px 10px;
    }

.heading
    {
        font-size: 4em;
        font-weight: bold;
        
    }

.btn1{
        outline: 2px solid #0e011f;
        background: none;
        border:none;
        border-radius: 0;
        padding: 5px 20px;
        font-size: 20px;
        font-weight: bold;
        font-family: "montserrat";
        cursor: pointer;
        margin: 10px;
        transition: 0.8s;
        position: relative;
        overflow: hidden;
        color: #0e011f;
      }

.btn1:hover{
        outline:none;
        color: #fff;
      }
      
      .btn::before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background: #2a0359;
        z-index: -1;
        transition: 0.8s;
      }
.btn1::before
    {
        top: 0;
        border-radius: 0 0 50% 50%;
      }
      
      .btn1:hover::before{
        height: 180%;
      }
      
#dots-cont
    {
        background-color:transparent;
        position: absolute;
        top:60vh;
        right:0;
    }

.dot 
    {
        height: 20px;
        width: 20px;
        background-color: #bbb;
        border-radius: 50%;
        display: block;
        border: none;
        margin:10px;
    }

.dot:active
    {
        background-color: rgb(15, 15, 19);
        outline: none;
    }

.dot:focus
    {
        background-color: rgb(15, 15, 19);
        outline: none;
    }

.more
    {
        font-size: 1.2em;
        padding:5px 15px 5px 15px;
        cursor: pointer;
        text-align: center;
        display:block;
        margin:0 auto;
        position:absolute;
        top:83vh;
        left:44vw;
        background-color: black;
        color:white;
        border-radius: none;
        
    }

.indicator
    {
        position: fixed;
        top:40vh;
        right:0;
        font-size: 40px;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
        z-index:6;
       
    }

#asd
    {
        display: none;
        transition: all 0.5s;
    }

.indicator:hover
    {
        color:rgb(4, 99, 147);
        
    }

#sidenav
    {
        width:0vw;
        height:60vh;
        position: fixed;
        top:20vh;
        right:0;
        background-color: #8feee9;
        z-index: 1;
        transition: all 0.7s ease-in-out;
    }

.indicator:target
    {
        transition: all 1s;
        width:20vw;
    }

#details
    {
        padding-bottom: 80px;
        width:100%;
        margin-top: 3vh;
        padding-top: 5vh;
    }

.container
    {
        margin-top: 10vh;
       
    }

.indi
    {
        width:100px;
        height:100px;
        overflow:hidden;
    }

.row
    {
        
    }

.heads
    {
        font-size: 4em;
        text-align: center;
        font-family: 'Didact Gothic','serif' ;
        font-weight: bold;

    }

.items
    {
    
    }

.icon-cont
    {
        width:100%;
        height:12vh;
        
        line-height: 20vh;
    }

.icon-cont img
    {
        display: block;
        margin: 0 auto;
    }

.items span
    {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 2em;
        font-family: 'Fredoka One', 'serif';
   
    }

.under
    {
        height:5px;
        width:80px;
        display: block;
        margin: auto;
        background-image: linear-gradient(to right,rgb(12, 113, 133),rgb(50, 140, 185));
    }

.item-text p
    {
        margin-top: 25px;
        text-align: center;
    }


.about-btn{
        outline: 2px solid #1e8cb0;
        background: none;
        border:none;
        width:16vw;
        border-radius: 0;
        padding: 5px 20px;
        font-size: 20px;
        font-weight: bold;
        font-family: "montserrat";
        cursor: pointer;
        display: block;
        margin: auto;
        transition: 0.8s;
        margin-top: 10vh;
        overflow: hidden;
        color: #1e8cb0;
      }

.about-btn:hover{
        outline:none;
        color: #fff;
    }
      
.about-btn::before
    {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background: #1e8cb0;
        z-index: -1;
        transition: 0.8s;
    }
.about-btn::before
    {
        top: 0;
        border-radius: 0 0 50% 50%;
    }
      
.about-btn:hover::before
    {
        height: 180%;
    }

.things
    {
        padding-top:5vh;
        padding-bottom: 10vh;
        
        width:100%;
        
    }


.packs-head
    {
        
        font-size: 4em;
        font-weight: bold;
        font-family: 'Didact Gothic','serif' ;
        text-align: center;

        background-color: transparent;
    }

.packs-head p
    {
        
        background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(7, 92, 98));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
#packs-carousel
      {
          width:100%;
          height:60vh;
          display: block;
          margin: 0 auto;
        overflow: hidden;
          background-color: transparent;
      }

#triangle-1 {
        width: 50vw;
        height: 0;
        border-bottom: 60vh solid rgba(14, 130, 168, 0.889);
        border-right: 30vw solid transparent;
        position: absolute;
        top:0;
        left:0;
        
      }

#triangle-2 
    {
        width: 50vw;
        height: 0;
        border-bottom: 60vh solid rgba(14, 130, 168, 0.889);
        border-right: 30vw solid transparent;
        position: absolute;
        top:0;
        left:0;
    }

#triangle-3
    {
        width: 55vw;
        height: 0;
        border-top: 60vh solid rgba(14, 130, 168, 0.889);
        border-left: 20vw solid transparent;
        position: absolute;
        top:0;
        right:0;
        
    }

.container
    {
        margin-top: 40px;
    }


#packs-carousel:hover 
      {
        opacity:1;
      }


.carousel-inner
    {
        height:100%;
        width:100%;
        overflow: hidden;
        background-color: transparent;
    }       

.pack-btn{
        outline: 2px solid #1e8cb0;
        background: none;
        border:none;
        width:180px;
        border-radius: 0;
        padding: 5px 20px;
        font-size: 20px;
        font-weight: bold;
        font-family: "montserrat";
        cursor: pointer;
        display: block;
        margin: auto;
        transition: 0.8s;
        margin-top: 5vh;
        overflow: hidden;
        color: #1e8cb0;
      }

.pack-btn:hover{
        outline:none;
        color: #fff;
    }
      
.pack-btn::before
    {
        content: "";
        position:absolute;
        top:0vh;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: #1e8cb0;
        
        transition: 0.8s;
        border-radius: 0 0 50% 50%;
    }
      
.pack-btn:hover::before
    {
        height: 180%;
    }

.pack-btn-in
    {
        outline: 2px solid #63022a;
        background: none;
        border:none;
        width:150px;
        border-radius: 0;
        padding: 5px 20px;
        font-size: 20px;
        font-weight: bold;
        font-family: "montserrat";
        cursor: pointer;
        display: block;
        margin: auto;
        transition: 0.8s;
        margin-top: 5vh;
        overflow: hidden;
        color: #63022a;
    }

.pack-btn-in:hover{
        color: #fff;
        background-color: #63022a;
    }

.cor-head
    {
        font-size: 6em;
        font-family: 'Lobster Two','cursive' ;
        text-align: center;
    }

.tri-cont
    {
        margin-top:10vh;
        margin-left:40px;
    }

.tri-contd
    {
        margin-top: -50vh;
        
    }

.ok
    {
        background-color:black;
    }

.blog-cont
    {
        width:100%;
        padding-bottom: 10vh;
    }

.blogs
    {
        text-align: center;
    }

.blog-img
    {
        background-image: url(images/dubai.jpg);
        width:100%;
        height:35vh;
    }

.date
    {
        background-color: #ffffff;
        position: relative;
        top:80%;
        left:40%;
        width:60%;
        height:20%;
        
        font-size: 2em;
        font-family: fantasy;
    }

.blog-body
    {
        height:20vh;
    }

.blog-title
    {
        text-align: center;
        font-size: 2em;

    }

.author-det
    {
        font-size: 1.2em;
    }

.blog-head
    {
        display: block;
        margin: 0 auto;
        font-size: 4em;
        font-family: 'Didact Gothic','serif' ;
        text-align: center;
        font-weight: bold;
    }

.comment
    {
        background-image: url(images/san.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

.person-img
    {
        background-image: url(images/hollywood.jpg);
        height:200px;
        width:200px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }

.texts
    {
        text-align: center;
        font-family: 'Fredoka One','serif' ;
        
    }

.texts p
    {
        font-size: 1.5em;
        
    }

.texts span
    {
        font-size:1.7em;
    }


.overlay
    {
        background-image: linear-gradient(to bottom,rgb(11, 0, 22),rgba(92, 5, 135, 0.688));
        width:100%;
        height:50vh;
        position: absolute;
        top:-50vh;
        left:0;
        opacity:1;
        z-index: 1;
    }

footer
    {
        padding:5vh 5vw 5vh 5vw;
        background-color: #2a0359;
    }

iframe
    {
        
        width:40vw;
        height: 40vh;
    }

.socialicon-cont
    {
        display: flex;
        justify-content: space-evenly;
        margin:0 auto;
        background-color: none;
        position: absolute;
        bottom:0;
        left:80px;
        width:40%;
        
    }

.socialicon-cont img
    {
        width:20%;
    }

.right
{
    width:50vw;

}

footer .row
    {
        margin-top: 5vh;
    }

ul
    {
        list-style-type: none;
        font-size: 2vw;
        color: #e7dcdc;
        
    }

.contact-details
    {
        margin-left:5vw;
        font-family: 'Abril Fatface','serif' ;
    }

.sidenav ol
    {
        width: 100%;
        

    }

.sidenav li
    {
        font-size: 2em;
        line-height: 10vh;
        text-align: center;
        width: 100%;
        height:10vh;
        color:black;
        background-color: #0e011f;
    }