html
    {
        padding:0px;
        margin:0px;
        font-family: 'Righteous', cursive;
        scroll-behavior: smooth;
    }

body
    {
        padding:0px;
        margin:0px;
    }


.full
    {
        width:100%;
        height:100vh;
        background-image:url(images/glasses.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

.full-2
    {
        width:100%;
        height:100vh;
        background-image:url(images/color.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }  

.full-3
    {
        width:100%;
        height:100vh;
        background-image:url(images/stationary.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

.overlay
    {
        height:100vh;
        width:100%;
        position: absolute;
        top:0vh;
        /*background-image:linear-gradient(to bottom right,rgba(142, 17, 90),rgba(128, 0, 128),rgba(255, 0, 0));
       */
        background-color: black;
        opacity: 0.93;
    }

.overlay2
    {
        height:100%;
        width:100%;

        /*background-image:linear-gradient(to bottom right,rgba(142, 17, 90),rgba(128, 0, 128),rgba(255, 0, 0));
       */
        background-color: black;
        opacity: 0.93;
    }    

#form3
    {
        width:28vw;
        z-index:2;
        border-radius: 0vw;
       /* border: 3px solid rgb(21, 103, 185);*/
        margin-left: 50vw;
        position: relative;
        top:20vh;
        /*background-image:linear-gradient(to bottom right,rgba(142, 17, 90),rgba(128, 0, 128),rgba(255, 0, 0));
        */
        background-image:linear-gradient(to bottom,rgb(255, 255, 255),rgb(210, 253, 253));
      
        padding-top:4vh;
        padding-bottom:4vh;
        padding-left:3vw;
        padding-right:3vw;
    }

#form2
    {
        width:28vw;
        z-index:2;
        border-radius: 0vw;
       /* border: 3px solid rgb(21, 103, 185);*/
        margin-left: 33vw;
        position: relative;
        top:20vh;
        /*background-image:linear-gradient(to bottom right,rgba(142, 17, 90),rgba(128, 0, 128),rgba(255, 0, 0));
        */
        background-image:linear-gradient(to bottom,rgb(0, 0, 0,0.9),rgb(26, 31, 31,0.9));
      
        padding-top:4vh;
        padding-bottom:4vh;
        padding-left:3vw;
        padding-right:3vw;
    }

form
    {
        width:28vw;
        z-index:2;
        border-radius: 0vw;
       /* border: 3px solid rgb(21, 103, 185);*/
        margin-left: 33vw;
        position: relative;
        top:10vh;
        /*background-image:linear-gradient(to bottom right,rgba(142, 17, 90),rgba(128, 0, 128),rgba(255, 0, 0));
        */
        background-image:linear-gradient(to bottom,rgba(6, 10, 26, 0.472),rgba(0, 17, 17, 0.297));
        padding-top:4vh;
        padding-bottom:4vh;
        padding-left:3vw;
        padding-right:3vw;
    }

#resend
    {
        background-image:linear-gradient(to right,rgb(0, 0, 0),rgb(34, 23, 44),rgb(63, 45, 68));
        width:13vw;
        height:6vh;
        border-radius: 3vh;
        /*border:2px solid rgb(200, 0, 255);*/
        margin-top:4vh;
        border: none;
        margin-left:7.5vw;
        font-size: 1.3vw;
        color:white;
        font-weight:none;
        outline: none;
        font-family: 'Righteous', cursive;
    }

#text
    {
        font-size:3em;
        text-align: center;
        color:rgb(7, 5, 12);
        font-family: 'Righteous', cursive;
    }

#socials
    {
        width:100%;
        font-family: 'Comfortaa', cursive;
    }

#facebook
    {
        width:13.5vw;
        height:5vh;
        padding:1vh;
        font-size: 0.8em;
        color:white;
        background-image:linear-gradient(to right,rgb(12, 43, 103),rgb(33, 25, 125));
        
        border-radius: 3.5vw;
        border:none;
        outline: none;
        font-family: 'Righteous', cursive;
    }

#google
    {
        width:13.5vw;
        height:5vh;
        padding:1vh;
        font-size: 0.8em;
        color:white;

        background-image:linear-gradient(to right,rgb(84, 0, 18),rgb(92, 6, 25));
        
        border-radius: 3.5vw;
        border:none;
        float:right;
        outline: none;
        font-family: 'Righteous', cursive;
    }

#google:hover
    {
        border:2px solid rgb(161, 19, 50);
        color:rgb(161, 19, 50);
        background-image:none;
        background-color: transparent;
        font-family: 'Righteous', cursive;
    }

#facebook:hover
    {
        border:2px solid rgb(59, 93, 171);
        color:rgb(59, 93, 171);
        background-image: none;
        background-color: transparent;
        font-family: 'Righteous', cursive;
    }


#or
    {
        height:10vh;
        text-align: center;
        color:white;
        vertical-align: middle;
        line-height: 12vh;
    }

input
    {
        font-size:1.3vw;
        margin-left:vw;
        width:100%;
        border-left:none;
        border-top:none;
        border-right: none;
        border-bottom:1px solid rgb(7, 5, 12);
        color:rgb(7, 5, 12);
        text-align: ;
        outline:none !important;
        background-color: transparent;
    }

input::placeholder
    {
        font-family: 'Comfortaa', cursive;
        color:rgb(70, 37, 70);
    }

#etext
    {
        margin-top: 8vh;
    }

#pass
    {
        margin-top:6vh;
    }

#rem
    {
        margin-top:4vh;
        color:white;
        height:3vh;
        vertical-align: middle;
        line-height: 2.5vh;
        font-size: 0.8em;
    }

#check
    {
        width:1vw;
        float:left;
    }

#rem span
    {
        float: left;
    }

#login
    {
        background-image:linear-gradient(to right,rgb(0, 0, 0),rgb(34, 23, 44),rgb(63, 45, 68));
        width:13vw;
        height:6vh;
        border-radius: 3vh;
        /*border:2px solid rgb(200, 0, 255);*/
        margin-top:4vh;
        border: none;
        margin-left:7.5vw;
        font-size: 1.3vw;
        color:white;
        font-weight:none;
        outline: none;
        font-family: 'Righteous', cursive;
    }

#login:hover
    {
        border:2px solid rgb(34, 23, 44);
        color:rgb(34, 23, 44);
        background-image: none;
        background-color: transparent;
        font-weight: bold;
    }

#down
    {
        margin-top:7vh;
        font-size: 1.5vw;
        height:5vh;
        border-bottom: 1px solid rgb(7, 5, 12);
        color:rgb(7, 5, 12);
        text-align: center;
    }

#down2
    {
        margin-top:7vh;
        font-size: 1.5vw;
        height:5vh;
        color:rgb(7, 5, 12);
        text-align: center;
    }

#left
    {
        float:left;
        color:rgb(7, 5, 12);
    }

#center
    {
        float:center;
        color:rgb(7, 5, 12);
    }

#right
    {
        float:right;
    }

#left2
    {
        float:left;
    
        background-color: rgb(24, 120, 229);
        width:8vw;
        height:6vh;
        border-radius: 3vh;
        /*border:2px solid rgb(200, 0, 255);*/
        border: none;
        font-size: 1.3vw;
        color:white;
        font-weight:none;
        outline: none;
        font-family: 'Righteous', cursive;
    }

#right2
    {
        float:right;
        background-color: rgb(24, 120, 229);
        width:8vw;
        height:6vh;
        border-radius: 3vh;
        /*border:2px solid rgb(200, 0, 255);*/

        border: none;
        font-size: 1.3vw;
        color:white;
        font-weight:none;
        outline: none;
        font-family: 'Righteous', cursive;
    }

form a
    {
        text-decoration: none;
        font-size: 0.8em;
        color:rgb(245, 216, 170);
    }